<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.work.mapper.GroupDao">
  <insert id="insert" parameterType="com.work.bean.Group">
   insert into tb_group(id,name) values(#{id},#{name});
  </insert>
  <delete id="delete" parameterType="com.work.bean.Group">
   update tb_group set delete_state=1
   <where>
    id=#{id}
         <if test="name!=null">and name=#{ name }</if>
       </where>
  </delete>
  <update id="update" parameterType="com.work.bean.Group">
   update tb_group
   <set>
         <if test="id!=null">id=#{ id },</if>
         <if test="name!=null">name=#{ name },</if>
       </set>
   <where>
    id=#{id}
         <if test="name!=null">and name=#{ name }</if>
       </where>
  </update>
  <select id="list" resultType="com.work.bean.Group" parameterType="map">
   select id,name,face from tb_group
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
  </select>
  <select id="listByPage" resultType="com.work.bean.Group" parameterType="com.work.bean.Group">
   select id,name from tb_group
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
   limit #{offset},#{rows}
  </select>
  <select id="load" resultType="com.work.bean.Group" parameterType="com.work.bean.Group">
   select id,name from tb_group
   <where>
         <if test="id!=null">and id=#{ id }</if>
         <if test="name!=null">and name=#{ name }</if>
       </where>
   limit 0,1
  </select>
  <select id="count" resultType="int" parameterType="com.work.bean.Group">
   select count(1) from tb_group
   <where>
         <if test="id!=null">and id = #{ id }</if>
         <if test="name!=null">and name = #{ name }</if>
       </where>
  </select>
 </mapper>
 